body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
}


.info{
  min-height: 92vh;
}

.foto, .contenido, .mapa {
  padding: 15px;
  text-align: center;
  margin: auto;
}

.foto img{
  border-radius: 50%;
  max-width: 280px;
  max-height: 280px;
  vertical-align: middle;
  object-fit:cover;
}

.mapa iframe{
  max-width: 300px;
  max-height: 300px;
}

.drama{
  font-size: 120%;
  padding-left: 7%;
  padding-right: 7%;
}
.blanco{
  min-height: 20vh;
}

.pag iframe{
  width: 100%;
  height: 80vh;
}

.importante{
  background-color: #6c757d;
  color: white;
  min-height: 100vh;
}

.oportunidad > div:first-child{
  padding-top: 5%;
}

.imagenes > div:first-child{
  margin-top: 5%;
  margin-bottom: 5%;
}
.imagenes > div{
  max-height: 40vh;
  text-align: center;
}
.imagenes > div > img{
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.academico, .extra{
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 4%;
  padding-right: 4%;
}
.academico > p {
  margin-top: 1rem;
}

.alineador{
  margin-top: 15vh;
}

.footer{
  background-color: #343a40;
  color: white;
}
.footer .blanco{
  min-height: 10vh;
  margin-bottom: 0%;
}

.linkPagina{
  color: white;
  font-size: 200%;
  margin-right: 2%;
}

.back{
  position: absolute;
  top:2%;
  left:2%;
  z-index: 9;
}
