body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
}

.navbar{
  background-color: #e6e5f4;
}

.info{
  min-height: 92vh;
}

.foto, .contenido, .mapa {
  padding: 15px;
  text-align: center;
  margin: auto;
}

.foto img{
  border-radius: 50%;
  max-width: 280px;
  max-height: 280px;
  vertical-align: middle;
  object-fit:cover;
}

.mapa iframe{
  max-width: 300px;
  max-height: 300px;
}

.drama{
  font-size: 120%;
}
.blanco{
  min-height: 20vh;
}

.pag iframe{
  width: 100%;
  height: 80vh;
}

.importante{
  background-color: #6c757d;
  color: white;
  min-height: 100vh;
}

.oportunidad > div:first-child{
  padding-top: 5%;
}

.imagenes > div:first-child{
  margin-top: 5%;
  margin-bottom: 5%;
}
.imagenes > div{
  max-height: 40vh;
  text-align: center;
}
.imagenes > div > img{
  width: 100%;
  height: 95%;
  object-fit: cover;
}
